.main_nav {
  background-color: #565656;
  height: 55px;
  padding: 10px;
}

.navba {
  width: 1300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin: auto;
}
.item {
  width: 300px;
  text-align: center;
}

.logout {
  width: 300px;
  margin-left: 300px;
  text-align-last: right;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: #ddd;
}

.conts {
  width: 80%;
  margin: auto;
}

.li {
  float: left;
  line-height: 80px;
  padding: 0 30px;
}
